*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: sans-serif;
    color: white;
    background-color: rgb(0 0 0 / 80%);
}

header 
{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    gap: 14rem;
    z-index: 200;
    background-color:rgb(255 66 79);
    padding: 15px 4rem;
}
header search-box
{
    display: flex;
    gap: 1rem;
}
header search-box input
{
    color: white;
    font-size: 1rem;
    background: transparent;
    border: none;
    outline: none;
}
header search-box input::placeholder
{
    color: white;
}
.main-container
{
    display: flex;
    position: relative;
}
.side-bar
{
  position: fixed;
  z-index: 100;
   width: 15%;
   height: 100vh;
   padding-top: 50px;
   background: rgb(25 28 31);
}
ul
{
    margin-top: 5rem;
}
ul li
{
    margin-bottom: 5px;
    list-style: none;
    padding: 5px 2rem;
}
ul li:hover
{
    background-color: rgb(0 0 0 / 80%);
}
ul li.active
{
    color:rgb(255 66 79);
    background-color: rgb(0 0 0 / 80%);
}

.contents-box
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 7rem;
    padding-left: 15%; 
    float: right;   
}
.movie-box 
{
    position: relative;
    width: 12rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    transition: .5s ease;
    justify-content: center;
    cursor: pointer;
    
    
}
.movie-box .overlay
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 90%;
    transition: 0.5s 0.1s ease;
}
.movie-box .overlay:hover
{
    background: rgba(255, 66, 79, 0.5);
    
}
.movie-box h4
{
    margin-top: 10px;
}
.average
{
    position: absolute;
    top: -6;
    right: 70px;
    width: 50px;
    font-size: 12px;
    text-align: center;
    background: rgb(255 177 10);
    padding: 4px;
    border-radius: 30px;
}